body {
	background-color: #f7f7f7;
}

.navbar {
	background-color: #f7f7f7;
}

#title {
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
	letter-spacing: 20px;
	text-align: center;
	padding-top: 15%;
}

#subtitle {
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
	letter-spacing: 15px;
	text-align: center;
	padding-top: 5%;
}

.nav-item {
	font-family: 'Exo 2', sans-serif;
}

#aperture-navbar {
	width: 30px;
}

#section1 {
	height: 100vh;
	background: linear-gradient(#f7f7f7, #f7f7f7 70%, #d1c5ad);
}

#red-dot-container {
	margin-top: 8%;
	text-align: center;
}

#red-dot-1 {
	width: 0.75em;
	animation-name: run-left;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}

#red-dot-2 {
	width: 0.75em;
	animation-name: run-right;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}

@keyframes run-left {
	0% { transform: translateX(-200px) }
	50% { transform: translateX(200px) }
	100% { transform: translateX(-200px); }
}

@keyframes run-right {
	0% { transform: translateX(200px) }
	50% { transform: translateX(-200px) }
	100% { transform: translateX(200px); }
}

#section2 {
	background-color: #d1c5ad;
}

#section2 h3 {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	margin-top: 20%;
}

#section2 p {
	font-family: 'Exo 2', sans-serif;
	margin: 5%;
}

#section3 {
	background-color: #d1c5ad;
}

#team {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	margin: 2% 0;
}