body {
	background-color: #f7f7f7;
}

.navbar {
	background-color: #f7f7f7;
}

#title {
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
	letter-spacing: 20px;
	text-align: center;
	padding-top: 15%;
}

#subtitle {
	font-family: 'Exo 2', sans-serif;
	text-transform: uppercase;
	letter-spacing: 15px;
	text-align: center;
	padding-top: 5%;
}

.nav-item {
	font-family: 'Exo 2', sans-serif;
	padding-left: 10%;
}

.navbar-nav > .nav-item {
	margin-left: 1em;
}

#aperture-navbar {
	width: 30px;
}

#section1 {
	height: 100vh;
	background: linear-gradient(#f7f7f7, #f7f7f7 70%, #d1c5ad);
}

#red-dot-container {
	margin-top: 8%;
	text-align: center;
}

#red-dot-1 {
	width: 0.75em;
	animation-name: run-left-1;
	animation-duration: 0.01s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}

#red-dot-2 {
	width: 0.75em;
	animation-name: run-right-1;
	animation-duration: 0.01s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}

#red-dot-3 {
	width: 0.75em;
	animation-name: run-left-2;
	animation-duration: 0.01s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}

#red-dot-4 {
	width: 0.75em;
	animation-name: run-right-2;
	animation-duration: 0.01s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}

@keyframes run-left-1 {
	0% { transform: translateX(-200px) }
	50% { transform: translateX(200px) }
	100% { transform: translateX(-200px) }
}

@keyframes run-right-1 {
	0% { transform: translateX(200px) }
	50% { transform: translateX(-200px) }
	100% { transform: translateX(200px) }
}

@keyframes run-left-2 {
	0% { transform: translateX(-100px) }
	50% { transform: translateX(100px) }
	100% { transform: translateX(-100px) }
}

@keyframes run-right-2 {
	0% { transform: translateX(100px) }
	50% { transform: translateX(-100px) }
	100% { transform: translateX(100px) }
}

#section2 {
	background-color: #d1c5ad;
}

#section2 h3 {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	margin-top: 10%;
}

#section2 p {
	font-family: 'Exo 2', sans-serif;
	margin: 5%;
}

#section3 {
	background-color: #d1c5ad;
}

#team {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	margin: 2% 0;
}

.person {
	text-align: center;
}

.person-image {
	border-radius: 50%;
	margin-bottom: 2%;
}

.person-image-outter {
	border-radius: 50%;
	margin-bottom: 2%;
	box-shadow: 5px 5px 5px grey
}

.person-name {
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
}

.person-title {
	font-family: 'Exo 2', sans-serif;
	margin-bottom: 4%;
}

.modal-image {
	text-align: center;
}

#nami-d {
	width: 50%;
}

#anita-c {
	width: 50%;
}

#eric-o {
	width: 52%;
}

.modal-title {
	font-family: 'Exo 2', sans-serif;
}

.modal-body {
	font-family: 'Exo 2', sans-serif;
}